<% if current_user.admin == true %>



<div class=" container m-5 ">

    <h2>Add / Edit a course</h2>


<%= simple_form_for @course, html: { class: 'form' } do |f| %>
  <%= f.input :url, label_html: { class: 'form-label' }, input_html: { class: 'form-control' },label: 'URL of the website', error: 'Username is mandatory, please specify one' %>
  <%= f.input :title, label_html: { class: 'form-label' }, input_html: { class: 'form-control' }, label: 'Title of the workshop' %>
  <%= f.input :description, as: :text, label_html: { class: 'form-label' }, input_html: { class: 'form-control' },label: 'Short Description' %>
  <%= f.input :when, as: :text, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } ,label: 'When and how?'%>
  <%= f.input :what, as: :text, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } ,label: 'What is needed?'%>
  <%= f.input :who, as: :text, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } , label: 'Who can join?'%>
  <%= f.input :event_brite, as: :text, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } , label: 'Event Brite link'%>
  <%= f.input :photo, as: :file %>


<br>
  <%= f.button :submit, 'Create or Update', class: 'btn btn-primary' %>

<% end %>
</div>

<% else %>
<% end %>
