<% if current_user.admin == true %>

  <% @courses.each do |course| %>
 <div class="card-product m-5">


  <div class="card-product-infos">
    <h2><%= course.title %></h2>
    <p><%= course.description %></p>



    <%= link_to "View",
    course_path(course.url)
    %>

    <%= link_to "Edit",
    edit_course_path(course.url)
    %>


    <%= link_to "Delete",
    course_path(course.url),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </div>
</div>
  <% end %>

<% end %>
