<!DOCTYPE html>
<html>
  <head>
    <title>Ombu Hub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('ombu_logo.png') %>
  </head>

  <body>

    <div class="page-container">
      <div class="navbar-container">
        <%= render "shared/navbar" %>
      </div>
      <div class="content-container">
        <%= render "shared/flashes" %>
        <%= yield %>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
          <a href="https://api.whatsapp.com/send/?phone=543812073710&text=Hola%21+Me+gustar%C3%ADa+recibir+informaci%C3%B3n+sobre+el+curso+de+Rob%C3%B3tica+y+Programaci%C3%B3n+para+ni%C3%B1os+y+j%C3%B3venes+%EF%BF%BD&type=phone_number&app_absent=0" class="float" target="_blank">
             <i class="fa fa-whatsapp my-float"></i>
          </a>
      </div>
      <div class="footer-container">
        <%= render "shared/footer" %>
      </div>
    </div>

  </body>
</html>
